<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--<event name="sales_order_payment_refund">
		<observer instance="Sunflowerbiz\Payme\Observer\OrderRefundAfter" name="sunflowerbiz_payme_sales_order_payment_refund"/>
	</event>
	-->
	<event name="sales_order_invoice_register">
		<observer instance="Sunflowerbiz\Payme\Observer\OrderInvoiceAfter" name="sunflowerbiz_payme_sales_order_payment_invoice"/>
	</event>
</config>
